.row {
  margin: 0px;
  .col,
  .col-sm-12 {
    padding: 0px 5px;
  }
}
.content {
  width: 100%;
  background-color: #dbdbdb;
  &-1 {
    width: 100%;
    overflow-x: hidden;
    padding-top: 134px;
  }
  &-2 {
    width: 100%;
    padding: 5px;
    margin-top: 50px;
    &-right {
      z-index: 10;
      padding: 0px 5px;
      position: sticky;
      position: -webkit-sticky;
      top: -140px;
      margin-bottom: 50px;
      .form-comments {
        width: 100%;
        textarea {
          width: 100%;
          height: 100px;
          border-radius: 4px;
        }
        &-btn {
          text-align: right;
          button {
            height: 25px;
            padding: 0px;
            margin: 0px;
            font-size: 12px;
            width: 60px;
            align-items: center;
            line-height: 25px;
          }
        }
        &-modal {
          &-bg {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
          .form-comment {
            z-index: 10;
            transition: ease 0.3s;
            height: 0px;
            padding: 0;
            overflow: hidden;
            position: fixed;
            width: 40%;
            top: 10rem;
            left: 30%;
            background: #ccc;
            border-radius: 5px;
            &-group {
              width: 100%;
              display: flex;
              flex-direction: column;

              input {
                border: none;
                border-radius: 4px;
                background-color: rgb(248, 248, 248);
              }
              input:focus {
                border: 1px rgb(0, 89, 255) solid;
                background-color: rgb(255, 255, 255);
                outline: none;
              }
              p {
                height: 15px;
                padding: 0px 5px;
                font-size: 10px;
                color: red;
              }
              textarea {
                height: 70px;
              }
            }
            &-btn {
              text-align: right;
            }
          }
        }
      }
      .list-news {
        background-color: rgb(233, 233, 233);
        border-radius: 4px;
        border: 1px solid rgb(164, 161, 161);
        margin: 50px 0px;
        padding: 0px 5px;
        padding-top: 20px;

        ::-webkit-scrollbar {
          width: 0px;
        }

        &-title {
          border-bottom: 1px solid rgb(145, 0, 0);
          text-align: center;
          padding: 2px;
          color: rgb(145, 0, 0);
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 5px;
          text-transform: uppercase;
        }
        &-group {
          margin-bottom: 10px;
          height: 400px;
          overflow-y: auto;
          &-item {
            cursor: pointer;
            margin-bottom: 10px;
            display: flex;
            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
            }
            p {
              font-size: 11px;
              font-weight: 500;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  &-3 {
    width: 100%;
    overflow-x: hidden;
    padding: 5px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.639) 50%,
        rgba(0, 0, 0, 0.646)
      ),
      url(https://ttuhaanogithubb9998.github.io/astronomy/img/banner/5.jpg);
    background-size: cover;
    .random-news {
      padding: 20px 0px;
      .col {
        margin-bottom: 20px;
      }
      .card {
        background-color: lightgray;
        border-radius: 5px;
        overflow: hidden;
        height: 100%;
        img {
          cursor: pointer;
          height: 150px;
        }
        .card-body {
          padding: 5px;
          padding-bottom: 20px;
        }
        p {
          font-size: 13px;
          text-align: initial;
          margin: 0;
          padding: 0;
          width: 100%;
          font-weight: 500;
        }
      }
    }
  }
}
@media screen and (max-width: 940px) {
  .content {
    &-1 {
      padding-top: 25px;
    }
    &-2-right {
      top: -190px;
    }
  }
}
