$bgMenu: #c5c6c7;
$textContact: rgb(236, 211, 143);
$bgMenu-hv: rgb(202, 148, 33);
$textMenu: rgb(47, 36, 109);
$textMenu-hv: azure;
$bgContent: rgb(226, 226, 226);

.header {
  // transform: translateY(-74px);
  // margin-top: -74px;
  transition: ease 0.3s;
  width: 100%;
  z-index: 11;
  position: fixed;
  .search {
    background-image: url(https://ttuhaanogithubb9998.github.io/astronomy/img/logo/bgjpg.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .logo {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-img {
        width: 3rem;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          transform: scale(1.3);
        }
      }
      &-name {
        color: azure;
        font-size: 2rem;
        font-weight: 600;
        margin-left: 20px;
        letter-spacing: 20px;
      }
    }
    .contact {
      color: $textContact;
      display: flex;
      justify-content: space-between;
      &-email,
      &-phone {
        margin: 0px 10px;
      }
      div:hover {
        text-decoration: underline;
        cursor: pointer;
        i {
          text-decoration: none;
        }
      }
    }
    &-box {
      display: flex;
      justify-content: space-between;
      &-input {
        transition: all 0.3s;
        border-radius: 3px;
        border: none;
        padding: 2px 4px;
        height: 28px;
        font-size: 16px;
        width: 300px;
        margin-right: 40px;
      }
      &-icon {
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 10px;
        font-weight: 100;
        display: none;
        i {
          font-size: 30px;
          transition: ease 0.3s;
        }
      }
      &-group {
        display: none;
        position: absolute;
        background-color: white;
        z-index: 1;
        top: 53px;
        width: 300px;
        overflow: auto;
        height: 500px;
        p,
        span {
          padding: 4px 10px;
          margin: 0;
        }
        p:hover {
          background-color: aqua;
          cursor: pointer;
        }
      }
    }
  }
  .navbar-full {
    box-shadow: 0px 0px 1px 1px rgb(59, 59, 59);
    &-toggle {
      display: none;
    }
    .navbar {
      padding: 0;
      display: flex;
      justify-content: space-around;
      background-color: $bgMenu;
      color: $textMenu;
      min-height: 60px;
      align-items: center;
      font-size: 1.2rem;

      &-item {
        transition: ease 0.3s;
        position: relative;
        line-height: 60px;
        padding: 0px 5px;

        &-ul::before {
          content: "";
          height: 3px;
          display: block;
          background: rgb(79, 79, 79);
        }
        &-ul {
          z-index: 1;
          background-color: #fff;
          transform: translateX(-5px);
          margin-top: 40px;
          opacity: 0;
          height: 0px;
          box-shadow: 0px 2px 3px 1px rgb(79, 79, 79);
          border-radius: 0px 0px 4px 4px;
          width: 100%;
          line-height: 50px;
          overflow: hidden;
          position: absolute;
          border-top: none;
          transition: ease 0.3s;
          &-li {
            color: $textMenu;
            transition: ease 0.3s;
            padding: 0px 10px;
            border-bottom: 1px solid rgb(132, 12, 12);
            margin: 0px 3px;
          }
          &-li:last-child {
            border-bottom: none;
          }
          &-li:hover {
            padding-left: 15px;
          }
        }
      }

      &-item:hover {
        cursor: pointer;
        color: $textMenu-hv;
        background-color: $bgMenu-hv;
      }
      i {
        font-weight: 600;
        transition: transform ease 0.3s;
      }
      .icon-tr {
        transform: rotate(180deg);
      }
    }
  }
}

@media only screen and (min-width: 941px) {
  .navbar-item:hover .navbar-item-ul {
    opacity: 1;
    height: auto;
    margin-top: 0px;
  }
  .navbar-item:hover i {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 940px) {
  .header {
    .search {
      .contact {
        display: none;
      }
      &-box {
        &-icon {
          display: block;
        }
        &-input {
          transition: all 0.3s;
          padding: 0px;
          width: 0px;
        }
      }
    }
    .navbar-full {
      position: relative;
      .bg {
        z-index: 9;
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.524);
      }
      &-button::after,
      &-button::before {
        content: "";
        height: 2px;
        width: 30px;
        display: block;
        background-color: $textMenu;
      }
      &-button {
        cursor: pointer;
        background: $bgMenu;
        height: 25px;
        display: block;
        align-items: center;
        padding: 5px 0px 0px 5px;
        z-index: 11;
        transition: all ease 0.3s;
        span {
          margin: 5px 0px;
          height: 2px;
          width: 30px;
          display: block;
          background-color: $textMenu;
        }
      }
      .navbar::-webkit-scrollbar {
        width: 0;
      }

      .navbar {
        transition: all ease 0.3s;
        opacity: 0;
        transform: translateX(-100%);
        z-index: 12;
        border-right: 1px solid $bgMenu;
        display: block;
        height: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        overflow-y: auto;
        &-item:first-child {
          margin-top: 30px;
        }
        &-item {
          &-ul {
            box-shadow: none;
            border-radius: none;
            background-color: rgb(255, 255, 255);
          }
        }

        &-close {
          transition: ease 0.5s;
          position: absolute;
          top: 70px;
          height: 22px;
          width: 22px;
          cursor: pointer;
        }

        &-close::after,
        &-close::before {
          content: "";
          height: 2px;
          width: 30px;
          display: block;
          background-color: $textMenu;
          transition: all ease 0.5s;
          position: absolute;
          left: 5px;
        }
        &-close::before {
          top: 0px;
        }
        &-close::after {
          top: 21px;
        }
        .close-toggle {
          transform: translateX(187px) translateY(-65px);
        }
        .close-toggle::before {
          top: 10px;
          left: -4px;
          transform: rotate(45deg);
        }
        .close-toggle::after {
          left: -4px;
          top: 10px;
          transform: rotate(-45deg);
        }
        .ul-toggle {
          opacity: 1;
          margin-top: 0px;
          height: auto;
          border-radius: none !important;
        }
        .item-toggle {
          margin-bottom: 104px;
        }
      }
      .bg-toggle {
        display: block;
      }
      .navbar-toggle {
        transform: translateX(0%);
        opacity: 1;
      }
      .button-toggle {
        position: fixed;
      }
      .icon-tr {
        transform: rotate(180deg);
      }
    }
  }
}
